<%# render 'refills/hero' %>
<%= render 'refills/home_cover' %>

<%= render 'action_buttons' %>
<%= render 'contacts/subscribe_form' %>
<%= render 'about_me' %>

<!--<div class="appWrap">-->


  <%= render 'logos' %>
<!--</div>-->

<%= render 'action_call' %>
<%= render 'refills/parallax' %>

<div class="appWrap">
	<%= render 'refills/cards' %>
	<%= render 'contacts/contact_me' %>
</div>
