<%# render 'refills/hero' %>
<%= render 'refills/home_cover' %>


<div class="appWrap">
	<%= render 'action_buttons' %>
	<%= render 'subscribe_form' %>
</div>


<%= render 'refills/parallax' %>

<div class="appWrap">
	<%= render 'refills/cards' %>
	<%= render 'refills/type_system_sans' %>
</div>
