<div class="message-input-container">


	<%= form_for @message,
			  url: {action: 'create', controller: 'contacts'},
			  html: {id: 'subscribe-form', class: "contact-me"},
			  remote: true do |f| %>

			  <div class="message-input-title-container">
				  <h1 class="message-input-title">Contact Me</h1>
			  </div>

			  <ul class="message-input-list">
	  			<li class="message-name">
	  				<span class="message-two-fields">
						<%= f.text_field :first_name,
		                                 id: 'message_input_first_name',
										 class: 'message-field',
		                                 placeholder: 'First Name' %>

						<!-- <input id="" class="message-field" type="text" name="name" placeholder="First Name"> -->
					</span>
	  				<span class="message-two-fields">
						<%= f.text_field :last_name,
		                                 id: 'message_input_last_name',
										 class: 'message-field',
		                                 placeholder: 'Last Name' %>
						<!-- <input id="" class= "message-field" type="text" name="name" placeholder="Last Name"> -->
					</span>
	  			</li>
	  			<li class="message-email">
					<%= f.email_field :last_name,
									 id: 'message_input_email',
									 class: 'message-field',
									 name: 'email',
									 placeholder: 'Email' %>
	  				<!-- <input id="" class="message-field" type="email" name="email" placeholder="Email"> -->
	  			</li>
	  			<li class="message-phone">
					<%= f.text_field :last_name,
									 id: 'message_input_body',
									 class: 'message-field',
									 placeholder: 'Phone' %>
	  				<!-- <input id="" class="message-field" type="text" name="phone" placeholder="Phone"> -->
	  			</li>
	  			<li class="message-text">
	  				<!-- <input id="" class="message-field" type="text" name="email" placeholder="Your Message"> -->
					<%= f.text_area :last_name,
									 id: 'message_input_body',
									 class: 'message-field',
									 placeholder: 'Your Message' %>
	  				<!-- <textarea form="message-input-form" class="message-field" name="message" placeholder="Your Message" rows="8" cols="40"></textarea> -->
	  			</li>
	  			<li  class="message-submit">
	  				<input id="contact-submit" type="submit" value="Submit">
	  			</li>
	  		</ul>

	<% end %>



	<form id="message-input-form" class="contact-me" action="mailto:matthewalexander108@gmail.com" method="post">
		<div class="message-input-title-container">
			<h1 class="message-input-title">Contact Me</h1>
		</div>
		<ul class="message-input-list">
			<li class="message-name">
				<span class="message-two-fields"><input id="" class="message-field" type="text" name="name" placeholder="First Name"></span>
				<span class="message-two-fields"><input id="" class= "message-field" type="text" name="name" placeholder="Last Name"></span>
			</li>
			<li class="message-email">
				<input id="" class="message-field" type="email" name="email" placeholder="Email">
			</li>
			<li class="message-phone">
				<input id="" class="message-field" type="text" name="phone" placeholder="Phone">
			</li>
			<li class="message-text">
				<!-- <input id="" class="message-field" type="text" name="email" placeholder="Your Message"> -->
				<textarea form="message-input-form" class="message-field" name="message" placeholder="Your Message" rows="8" cols="40"></textarea>
			</li>
			<li  class="message-submit">
				<input id="contact-submit" type="submit" value="Submit">
			</li>
		</ul>
	</form>
</div>
