<header class="centered-navigation" role="banner">
	<!-- <div class="top-nav">

	</div> -->
	<div class="centered-navigation-wrapper">

		<!-- <a href="www.google.com" class="mobile-logo"><%= image_tag("http://1.bp.blogspot.com/-KyA3ApH1TBA/UIbC9QEvswI/AAAAAAAAAM8/e-kCUzyfJ2Y/s1600/blume.png", alt: 'Sacred Geometry') %></a> -->
		<a href="/" class="mobile-logo">
			<!-- <img class="nav-image-1" src="http://1.bp.blogspot.com/-KyA3ApH1TBA/UIbC9QEvswI/AAAAAAAAAM8/e-kCUzyfJ2Y/s1600/blume.png" alt="" /> -->
			<!-- <img class="nav-image-2" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=14266258" alt="" />
			<img class="nav-image-3" src="http://3.bp.blogspot.com/-TGbJbRX_tbA/To1uF5pU4HI/AAAAAAAABTU/55hsjtm_Wpc/s1600/Sacred-geometry-image.gif.png" alt="" />-->
			<img class="nav-image-4" src="https://img0.etsystatic.com/045/0/6558435/il_570xN.676675664_defj.jpg" alt="" />
		</a>

		<h1 class="small-title">mAlexanders</h1>
		<h1 class="large-title">Matthew Alexander Smith</h1>

		<a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
		<nav role="navigation">
			<ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to "About Me", "", id: "about-me-scroll"%></li>
        <li class="nav-link"><%= link_to "Projects", "", id: "projects-scroll"  %></li>
				<li class="nav-link"><%= link_to "Skills", "", id: "skills-scroll"  %></li>
				<li class="nav-link"><%= link_to "Contact", "", id: "contact-scroll"  %></li>
			</ul>
		</nav>
	</div>
</header>
